<div class="container">
	<div class="row">
    <h1>Choose your course</h1>
		<h2>Get to know our different types of workshops</h2>
	</div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					 <div class="row">
			        <div class="col-lg-4">
			          <img src="http://images.cdn1.stockunlimited.net/clipart/abstract-mountain-background_1598603.jpg" alt="Generic placeholder image" width="140" height="140">
								<h1>Balloons</h1>
			          <p>Sed eget turpis a pede tempor malesuada.</p>
			        </div><!-- /.col-lg-4 -->
			        <div class="col-lg-4">
			          <img src="http://images.cdn1.stockunlimited.net/clipart/abstract-mountain-background_1598603.jpg" alt="Generic placeholder image" width="140" height="140">
								<h1>Feeds Reader</h1>
			          <p>Sed eget turpis a pede tempor malesuada.</p>
			        </div><!-- /.col-lg-4 -->
			        <div class="col-lg-4">
			          <img src="http://images.cdn1.stockunlimited.net/clipart/abstract-mountain-background_1598603.jpg" alt="Generic placeholder image" width="140" height="140">
								<h1>Hangman</h1>
			          <p>Sed eget turpis a pede tempor malesuada.</p>
			        </div>
						</div>
					</div><!-- /.col-lg-4 -->
				<div class="col-lg-2"></div>
			</div>
    </div>
		<div class="item">
      <div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					 <div class="row">
			        <div class="col-lg-4">
			          <img src="http://images.cdn1.stockunlimited.net/clipart/abstract-mountain-background_1598603.jpg" alt="Generic placeholder image" width="140" height="140">
								<h1>Codasseurify</h1>
			          <p>Sed eget turpis a pede tempor malesuada.</p>
			        </div><!-- /.col-lg-4 -->
			        <div class="col-lg-4">
			          <img src="http://images.cdn1.stockunlimited.net/clipart/abstract-mountain-background_1598603.jpg" alt="Generic placeholder image" width="140" height="140">
								<h1>ToDo list</h1>
			          <p>Sed eget turpis a pede tempor malesuada.</p>
			        </div><!-- /.col-lg-4 -->
			        <div class="col-lg-4">
			          <img src="http://images.cdn1.stockunlimited.net/clipart/abstract-mountain-background_1598603.jpg" alt="Generic placeholder image" width="140" height="140">
								<h1>Bob's your uncle</h1>
			          <p>Sed eget turpis a pede tempor malesuada.</p>
			        </div>
						</div>
					</div><!-- /.col-lg-4 -->
				<div class="col-lg-2"></div>
			</div>
    </div>

    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
