<section style="background-color:#e6e6ff;">
 <div id="top_banner_Company" class="container">
  <div class="jumbotron">
    <div class="row">
     <h3 style="text-align:center;">Taste of Code</h3>
    </div>
    <div id="tools" class="row">
     <h2 style="text-align:center;">Begginer Coding Workshop</h2>
   </div>
  </div>
 </div>
</section>
