<section>
  <div id="top_banner_Company" class="container">
    <div class="jumbotron">
      <div class="row">
       <h1 class="text-center">Taste of Code</h1>
      </div>
      <div id="tools" class="row">
        <h3 class="text-center">Beginner Coding Workshop</h3>
      </div>
    </div>
  </div>
</section>
