<section>
 <div id="apps_section" class="container">
   <div class="jumbotron">
     <div class="row">
     <h1 style="text-align:center;">Get Ready for the Day</h1>
     </div>
     <div id="tools" class="row">
     <h2 style="text-align:center;">Know your Tools</h2>
     </div>
     <div id="apps" class="row">
       <div id="atom" class="col-md-4">
       <span>Atom</span>
       <a title="Atom" href="https://atom.io" target="_blank">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Atom_editor_logo.svg/2000px-Atom_editor_logo.svg.png" width="50" height="50"/>
       </a>
       </div>
       <div id="chrome" class="col-md-4">
       <span>Chrome</span>
       <a title="Chrome" href="https://www.google.com/chrome/" target="_blank">
       <img src="http://www.rjb-solutions.nl/wp-content/uploads/Google_Chrome_icon_2011.svg.png" width="50" height="50"/>
       </a>
       </div>
       <div id="slack" class="col-md-4">
       <span>Slack</span>
       <a title="Slack" href="https://slack.com/" target="_blank">
       <img src="http://iosicongallery.com/img/512/slack-2014.png" width="50" height="50"/>
       </a>
       </div>
     </div>
   </div>
 </div>
</section>
