<section>
  <h1 style="text-align:center;">Proudly supported by</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <img class="img-circle" alt="ABN AMRO" width="140" height="140">
            </div>
            <div class="col-sm-10">
              <h3>ABN AMRO</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <img class="img-circle" alt="NOS" width="140" height="140">
            </div>
            <div class="col-sm-10">
              <h3>NOS</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <img class="img-circle" alt="TQ" width="140" height="140">
            </div>
            <div class="col-sm-10">
              <h3>TQ</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <img class="img-circle" alt="Rabobank" width="140" height="140">
            </div>
            <div class="col-sm-10">
              <h3>Rabobank</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <img class="img-circle" alt="KPN" width="140" height="140">
            </div>
            <div class="col-sm-10">
              <h3>KPN</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <img class="img-circle" alt="J.P. Morgan" width="140" height="140">
            </div>
            <div class="col-sm-10">
              <h3>J.P. Morgan</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
