<div class="content-row">
  <div class="col-lg-offset-1 col-lg-10 embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/201633032" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
