<div class="container marketing">
  <div class="row">
    <div class="container">
      <div class="row">
        <h1 style="text-align:center;">What will you learn</h1>
      </div>
      <div class="row">
        <h2 style="text-align:center;" class="text-muted">Professional developers technologies</h2>
        <div class="col-lg-4">
          <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png" alt="HTML" width="140" height="140">
          <h2>HTML</h2>
          <p>HTML is a computer language devised to allow website creation. These websites can then be viewed by anyone else connected to the Internet. It is relatively easy to learn, with the basics being accessible to most people in one sitting; and quite
              powerful in what it allows you to create.</p>
        </div>
        <div class="col-lg-4">
          <img class="img" src="http://w3widgets.com/responsive-slider/img/css3.png" alt="CSS" width="100" height="140">
          <h2>CSS</h2>
          <p>CSS is a style language that defines layout of HTML documents. For example, CSS covers fonts, colours, margins, lines, height, width, background images, advanced positions and many other things.</p>
        </div>
        <div class="col-lg-4">
          <img class="img" src="https://www.javacodegeeks.com/wp-content/uploads/2016/01/javascript-shield.png" alt="JavaScript" width="140" height="140">
          <h2>JavaScript</h2>
          <p>JavaScript is a programming language used to make web pages interactive. JavaScript is responsible for the "behavior" of your Website. It's how HTML elements and CSS style animate and move around on the page.</p>
        </div>
      </div>
    </div>
  </div>
</div>
