<div class="jumbotron">
  <h1>In-Company Requests</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" class="center-block">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h4><strong>Workshop</strong></h4>
          </div>
          <div class="col-md-3">
            <h4><strong>Company</strong></h4>
          </div>
          <div class="col-md-3">
            <h4><strong>Email</strong></h4>
          </div>
          <% @in_company_requests.each do |in_company_request| %>
          <div class="col-md-3">
            <h4>in_company_request.workshop.title</h4>
          </div>
          <div class="col-md-3">
            <h4>in_company_request.company_name</h4>
          </div>
          <div class="col-md-3">
            <h4>in_company_request.email</h4>
          </div>
          <div class="col-md-3">
            <h4>in_company_request.email</h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
