<div class="jumbotron">
  <h1>In-Company Requests</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" class="center-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4><strong>Workshop</strong></h4>
          </div>
          <div class="col-md-4">
            <h4><strong>Company</strong></h4>
          </div>
          <div class="col-md-4">
            <h4><strong>Email</strong></h4>
          </div>
            <% @in_company_requests.each do |in_company_request| %>
            <div class="col-md-4">
              <h4>in_company_request.orkshop</h4>
            </div>

            <h4>
        <div class="caption">
          <h3><%= link_to artist.name, artist_path(artist.id) %></h3>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
