<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>"Current Sponsors"</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <% @sponsors.each do |sponsor| %>
            <div class="col-md-7">
              <h4><%= link_to sponsor.company_name, admin_sponsor_url(sponsor) %></h4><hr>
            </div>
            <div class="col-md-3 right">
              <%= link_to "View", admin_sponsor_url(sponsor), class: "btn btn-default" %>
            </div>
            <% end %>
          </div>
          <%= link_to "New Sponsor", new_admin_sponsor_url, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
