<!DOCTYPE html>
<html>
  <head>
    <title>TocFoxes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="footer">
     <div class="container">
       <span class="text-muted">We are going to yield information here (sponsors/ possible extra needed info)</span>
     </div>
  </footer>
</html>
