<!DOCTYPE html>
<html>
  <head>
    <title>TocFoxes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,500" rel="stylesheet">
  </head>

  <body>
    <div class="page-wrap">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  </body>
</html>
