<!DOCTYPE html>
<html>
  <head>
    <title>TocFoxes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400|Roboto+Slab:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="page-wrap">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  </body>
</html>
